<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366490429520-l39qtpoiugomjtta5gi25ljffusfcq2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366490429520-l39qtpoiugomjtta5gi25ljffusfcq2g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366490429520-2hrofqrgulpdchnjhkc5scv68gvaubnm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpMiFd3uRk-wbJQx3RXTaHZzwulNA3rfM</string>
	<key>GCM_SENDER_ID</key>
	<string>366490429520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.savana.seller</string>
	<key>PROJECT_ID</key>
	<string>savana-da309</string>
	<key>STORAGE_BUCKET</key>
	<string>savana-da309.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366490429520:ios:226b6b791af3e5198bc955</string>
	<key>DATABASE_URL</key>
	<string>https://savana-da309-default-rtdb.firebaseio.com</string>
</dict>
</plist>